@model SRI.Models.ViewModels.IncidenteMailVM

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Incidente tipo Mail</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fecha_suceso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_suceso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_creacion)
            </dd>

            <dt>
                Funcionario Creador
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Funcionario.ci)   @Html.DisplayFor(model => model.Funcionario.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.emocion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.emocion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.resolucion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.resolucion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.asunto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.asunto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.respuesta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.respuesta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contenido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contenido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.remitente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.remitente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.destinatariosCc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.destinatariosCc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.destinatariosTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.destinatariosTo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", "Incidente", new { id = Model.Id }, null)
        @Html.ActionLink("Volver a el menú de selección", "Index", controllerName: "Incidente")
    </p>
