@model SRI.Models.Incidente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Incidente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_suceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emocion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emocion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
