@model SRI.Models.ViewModels.HorarioVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar horario</h2>

<h3>¿Estas seguro de que deseas eliminar este horario? </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_fin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
