@{
    SRI.Models.ViewModels.FuncionarioVM funcionario = (SRI.Models.ViewModels.FuncionarioVM)Session["CurrUser"];

    if (funcionario == null)
    {
        FormsAuthentication.SignOut();
        Session.Clear();
    }


}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SRI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Registro de Incidentes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Incidentes", "Index", "Incidente")</li>
                    <li>@Html.ActionLink("Reportes", "Contact", "Home")</li>
                    @if (funcionario != null && funcionario.rol == SRI.Models.Enums.Rol.admin)
                    {
                        <li>@Html.ActionLink("Horarios", "Index", "Horario")</li>
                        <li>@Html.ActionLink("Funcionarios", "Index", "Funcionario")</li>
                    }


                </ul>
                @Html.Partial("_Account")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Sistema de registro de incidentes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>


        var identificador = 0
        var palabrasClave = []



        function agregarPalabraClave() {

            var val = $("#palabraClaveinput").val();
            palabrasClave.push(val)
            palabrasClaveJoin = palabrasClave.join()
            $(".palabrasClaveEditor").val(palabrasClaveJoin)



            $("#palabraClaveList").append('<div class="well">' + val + '<button type="button" style="float: right" class="btn btn - danger float - right remove" value="' + val + '">X</button></div>')

            $("#palabraClaveinput").val("");

        }



        $(document).on("click", "button.remove", function () {

            $(this).parent().remove();
            removeVal = $(this).val()
            palabrasClave = palabrasClave.filter(e => e !== removeVal);
            $(".palabrasClaveEditor").val(palabrasClave)


        });




    </script>
</body>
</html>
