@model SRI.Models.ViewModels.FuncionarioVM

@{
    ViewBag.Title = "Detalles funcionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_string)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horario_string)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ci }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
