@model SRI.Models.ViewModels.FiltradoVM

@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Filtrado", "Filtrado"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Nuevo Incidente de tipo Chat de WhatsApp</h3>
        <br />



        <div class="form-group">
            @Html.LabelFor(model => model.mes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.tipoIncidente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipoIncidente, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cargar" class="btn btn-default" />
        </div>
    </div>


    <div id="IncidentesPartial">
        @Html.Partial("Incidente/_listado")
    </div>

